/*Sección General CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*Body CSS*/

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

/*Barra de Navegación*/

.nav-link {
    font-size: 1rem;
    font-style: normal;
    color: #0f15a3;

}

.container-fluid {
    background-color: #a6cc00;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-central{
    justify-content: center;
    align-items: center;
    display: inline;
    padding: 5% 5% 1% 5%;

}

/*Sección Cotizador*/

.cotizador {
    background-color: #a6cc00;
    color: #0f15a3;
    padding: 10% 5% 1% 5%;
    align-items: center;
    text-align: center;
}

.card-title {
    font-size: 2rem;
    text-align: center;
    align-items: center;
    color: #de061a;
    padding: 10% 15% 1% 15%;

}

.card-text{
    padding: 1% 20% 1% 20%;

}

.col-md-6 {
    width: 80rem;


}

.contenedor {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

/* ESTILOS FORMULARIO */

.contenedor .div-formulario {
    width: 40%;
    height: 500px;
    margin: 20px 20px;
    background-color: #0f15a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}

/* Estilos Listados */
.contenedor .div-listado {
    width: 35%;
    height: calc(80% - 60px);
    margin: 20px 20px;
    background-color: #de061a;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

/*Boton*/

button {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    background-color: #a6cc00;
    border-radius: 50px;
}

/*Footer*/

.container__footer {
    background-color: #a6cc00;
    padding: 2% 5% 0% 12%;
}


/*Responsive Medias Queries*/


@media screen and (max-width:768px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }

    .div-listado {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 100%;
        margin-bottom: 50%;

    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor {
        margin: 18px 0px;
    }




    .col-md-6 {
        display: flex;
        flex-wrap: nowrap;



    }

    .col-md-6r {
        padding-top: 10%;
        margin: 0 10px;
        height: 400px;

    }



}

@media screen and (max-width:600px) {

    .col-md-6 {
        padding-top: 15%;
        margin: 0 5px;
        width: 600px;
        height: 350px;

    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }


}


@media screen and (max-width:500px) {

    .col-md-6 {
        padding-top: 16%;
        margin: 0 5px;
        width: 500px;
        height: 320px;

    }
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }

}

@media screen and (max-width:420px) {

    .col-md-6 {
        padding-top: 21%;
        margin: 0 10px;
        width: 400px;
        height: 300px;

    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }

    .div-formulario .div-listado{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }

}

@media screen and (max-width:390px) {

    .col-md-6 {
        padding-top: 23%;
        padding-bottom: 20%;
        margin: 0 8px;
        width: 400px;
        height: 290px;

    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 180%;
        padding-bottom: 50%;
        margin: auto;

    }

    .div-formulario .div-listado{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }



}

@media screen and (max-width:375px) {

    .col-md-6 {
        padding-top: 35%;
        padding-bottom: 20%;
        margin: 0 8px;
        width: 400px;
        height: 325px;

    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }

    .div-formulario .div-listado{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }

}

@media screen and (max-width:350px) {

    .col-md-6 {
        padding-top: 40%;
        padding-bottom: 20%;
        margin: 0 8px;
        width: 400px;
        height: 290px;

    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100%;
        padding-bottom: 100%;

    }

    .div-formulario .div-listado{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }

}


@media screen and (max-width:280px) {

    .col-md-6 {
        padding-top: 30%;
        padding-bottom: 20%;
        margin: 0 8px;
        width: 400px;
        height: 290px;

    }

    .div-formulario .div-listado{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        padding-bottom: 50%;
        margin: auto;

    }

}
